#include "resource.h"


//
// Icon/Bitmap resources
//
IDC_ICON           ICON           "res/icon.ico"
IDB_LOGO           BITMAP         "res/icon.bmp"

//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x17L
#ifdef DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "MSX CAS Packer plugin for Total Commander"
            VALUE "FileVersion", "1.3.0.0"
            VALUE "InternalName", "casMSXwcx"
            VALUE "LegalCopyright", "Copyright (C) 2019 by Natalia Pujol"
            VALUE "OriginalFilename", "casMSX.wcx"
            VALUE "ProductName", "casMSXwcx"
            VALUE "ProductVersion", "1.3.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END